<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "djsg/styles/style.css"%}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
  <header>
    <h1><a href="/" style="color:white">Shift-generator</a>へようこそ</h1>
    <p>
      Shift-generatorを使えば楽に、高速にシフトを組むことができます。
    </p>
    <a href="https://github.com/drumgiovanni/shiftgenerator2" style="color:white">使い方</a>
  </header>

  <div class="main-wrapper">
    {% block content %}

    {% endblock %}

    </div>
  <footer>
    <p>
      giovanni's project
    </p>
  </footer>
  <script src="{% static "djsg/js/main.js" %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
