{%extends "base.html"%}
{%block title%}ログインしてください{% endblock %}

{%block content%}
{% if form.erros %}
<p>
  ユーザネームとパスワードがマッチしませんでした。もう一度入力してください。
</p>
{% endif%}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>ログインしてください。</p>
    {% endif %}
{% endif %}

<form method="post" action="{%url 'login'%}" id="login">
{% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
